/* heading */
.main .container {
   border-top: 1px solid #ccc;
   margin-bottom: 100px;
}

.main .heading-account {
   padding: 40px;
}
.main .content-center {
   display: flex;
   justify-content: center;
   text-transform: uppercase;
}
.main .content-center h2:nth-child(1) a {
   color: rgb(133, 133, 133);
}
.main .content-center h2:nth-child(2) {
   margin-left: 30px;
   padding-left: 30px;
   border-left: 3px solid #ccc;
}

/* content */
.main .content-account {
   display: flex;
   justify-content: center;
}
.main .content-account .customer_register {
   width: 500px;
}
.main .content-account .customer_register .title h2 {
   color: #868d95;
   font-size: 15px;
}

.main .content-account .customer_register input[type='text'],
.main .content-account .customer_register input[type='password'] {
   width: 100%;
   height: 55px;
   padding: 5px 20px;
   color: #5c5c5c;
   font-weight: 500;
   border: 1px solid transparent;
   background: #ededed;
   outline: none;
   border-radius: 8px;
   margin-bottom: 25px;
}
.main .content-account .customer_register .gioitinh {
   display: flex;
   margin-bottom: 20px;
}
.main .content-account .customer_register label {
   color: #5c5c5c;
   margin: 0 10px;
}
.main .content-account .customer_register .account-action button {
   cursor: pointer;
   color: white;
   width: 150px;
   background-color: black;
   border-radius: 10px;
   font-weight: bold;
   margin-right: 20px;
   padding: 10px 0;
   transition: color 0.2s ease-in;
}
.main .content-account .customer_register .account-action a {
   color: rgb(90, 86, 202);
}
.main .content-account .customer_register .account-action button:hover {
   color: #444141;
}
.main #ImgAnimation__item {
   width: calc(100% / 8);
   margin: -3px;
}
.main #ImgAnimation__item img {
   height: 0%;
}

.main .content-account .errors {
   display: none;
}
.main .content-account .errors h2 {
   border-radius: 5px;
   padding: 12px 15px;
   font-size: 13px;
   color: #856404;
   margin: 5px 0 15px;
   font-weight: 500;
   background-color: #fff3cd;
   border: 1px solid #ffeeba;
}
.main .content-account .correct {
   background-color: #3ae1376e;
   display: none;
}
.main .content-account .correct h2 {
   border-radius: 5px;
   padding: 12px 15px;
   font-size: 13px;
   color: #856404;
   margin: 5px 0 15px;
   font-weight: 500;
   background-color: #fff3cd;
   border: 1px solid #ffeeba;
}
.main .content-account .errors_mail {
   display: none;
}
.main .content-account .errors_mail h2 {
   border-radius: 5px;
   padding: 12px 15px;
   font-size: 13px;
   color: #aa3106;
   margin: -20px 0 10px;
   font-weight: 500;
   background-color: #ffdecd;
   border: 1px solid #ffeeba;
}

#btnShowHidePassword .show,
#btnShowHidePassword .hide {
   display: none;
}

#btnShowHidePassword.showPassWord .show {
   display: block;
}

#btnShowHidePassword.hidePassWord .hide {
   display: block;
}
